:root {
  --color-main: #009688;
  --color-sec : #004D40;
  --color-back: #212121;
}

body
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--color-back);
}

.form
{
  position: fixed;
  width: 95vw;
  height: 95vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.form .top-bar
{
  position: absolute;
  background-color: white;
  width: 100%;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.form .form-content
{
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 90%;
  margin: 40px auto;
  overflow-y: scroll;
}

.form .form-content div
{
  position: relative;
  float: right;
  right: 0;
  left: 0;
  top: 40px;
  bottom: 0;
  margin: 0 0 5vh 5vw;
  width: 40vw;
  height: 60vh;
  min-height: 300px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.form .form-content h1
{
  position: relative;
  display: inline-block;
  font-family: Oswald;
  font-size: calc(4vw + 30px);
  color: #444;
}

.form .form-content p
{
  font-family: 'Lora', serif;
  font-size: calc(0.5vw + 10px);
}

.form .top-bar i
{
  position: relative;
  cursor: pointer;
  float: right;
  padding: 8px;
  transition: 0.3s;
}

.form .top-bar i:hover
{
  background-color: #D50000;
  color: white; 
}

.form-projects
{
  position: fixed;
  width: 95vw;
  height: 95vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.form-projects .top-bar
{
  position: absolute;
  background-color: white;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.form-projects .top-bar i
{
  position: relative;
  padding: 8px;
  float: right;
  transition: 0.3s;
}

.form-projects .top-bar i:hover
{
  background-color: #D50000;
  color: white; 
}

.form-projects .form-content
{
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 90%;
  margin: 40px auto;
  overflow-y: scroll;
  padding-bottom: 100px;
  z-index: 0;
}

.form-projects .form-content img
{
  width: 100%;
}

.form-btn-container
{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.form-btn
{
  font-family: Lora;
  float: left;
  height: 20px;
  width: 80px;
  border: 2px solid var(--color-main);
  border-radius: 10px;
  margin: 10px;
  color: var(--color-back);
  transition: 0.3s;
  cursor: pointer;
}

.form-btn:hover
{
  background: var(--color-main);
  color: white;
}

#form-projects-title
{
  font-family: Oswald;
  color: #444;
  font-size: calc(4vmax + 10px);
}

.content
{
  background-color: var(--color-back);
}

.header
{
  box-sizing: border-box; 
  position: relative; 
  background-color: var(--color-main);
  background-image: url("/src/files/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 10vh;
}

.title-container
{
  position: relative;
  text-align: center;
  width: 100%;  
  height: 100%;
}

.title
{
  font-family: Oswald;
  font-size: 10vmax;
  color: var(--color-main);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

@media (max-height: 500px), (max-width: 500px)
{
  .header
  {
    padding: 0 0 10vh 0;
  }
}

@media (min-width: 1000px), (min-height: 1000px)
{
  .title
  {
    font-size: 100px;
  }
}

.subtitle
{
  font-family: Oswald;
  font-size: 20px;
  color: #333;
}

.btn-container
{
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  bottom: 0;
}

.btn
{
  width: 200px;
  margin: 5px 30px;
  border: 3px solid var(--color-main);
  color: var(--color-sec);
  display: inline-block;
  font-family: Oswald;
  font-size: 30px;
  white-space: nowrap;
  cursor: pointer;
}

.btn:hover
{
  transition: 0.3s;
  background-color: var(--color-main);
  color: white;
}

.description
{
  color: white;
  background-color: var(--color-back);
}

.text
{
  margin: 70px 0;
  background: var(--color-back);
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  font-size: 22px;
  font-family: Source Sans Pro;
  line-height: 35px;
  letter-spacing: 2px;
}

.team
{
  background-color: white;
  color: white;
  font-family: Oswald;
}

.team ul
{
  margin: auto;
  padding: 10vh 0;
  font-size: 0px;
  text-align: center;
  max-width: 1500px;
}

.team ul li
{
  position: relative;
  white-space: nowrap;
  height: 15vw;
  width: 30vw;
  max-width: 400px;
  max-height: 200px;
  vertical-align: top; 
  display: inline-block;
  margin: 2px;
  background-color: white;
  background-size: cover;
  z-index: 0;
}

.team ul li div
{
  position: absolute;
  background-color: var(--color-main);
  opacity: 0;
  width: 100%;
  height: 100%;
  font-size: 5vw;
  line-height: 15vw;
  list-style-type: none;
  vertical-align: top;
  transition: 0.3s;
  z-index: 0;
}

.team ul li a
{
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
  font-size: 2vw;
  color: white;
  pointer-events: none;
  z-index: 0;
}

@media (min-width: 1333px)
{
  .team ul li div
  {
    font-size: 66.65px;
    line-height: 200px;
  }

  .team ul li a
  {
    font-size: 26.66px;
  }
}

@media (max-width: 1000px)
{
  .team ul li
  {
    width: 45vw;
    height: 20vw;
  }

  .team ul li div
  {
    line-height: 20vw;
    font-size: 7vw;
  }

  .team ul li a
  {
    font-size: 3vw;
  }
}

.team ul li div:hover
{
  color: white;
  opacity: 1; 
}

.projects
{
  background-color: var(--color-back);
  color: white;
  font-family: Oswald;
}

.projects ul
{
  margin: auto;
  padding: 10vh 0;
  font-size: 0px;
  text-align: center;
  max-width: 1500px;
}

.projects ul li
{
  position: relative;
  white-space: nowrap;
  height: 15vw;
  width: 30vw;
  max-width: 400px;
  max-height: 200px;
  vertical-align: top; 
  display: inline-block;
  margin: 2px;
  background-color: white;
  background-size: cover;
  z-index: 0;
}

.projects ul li div
{
  position: absolute;
  background-color: var(--color-main);
  opacity: 0;
  width: 100%;
  height: 100%;
  font-size: 5vw;
  line-height: 15vw;
  list-style-type: none;
  vertical-align: top;
  transition: 0.3s;
  z-index: 0;
}

@media (min-width: 1333px)
{
  .projects ul li div
  {
    font-size: 66.65px;
    line-height: 200px;
  }
}

@media (max-width: 1000px)
{
  .projects ul li
  {
    width: 45vw;
    height: 20vw;
  }

  .projects ul li div
  {
    line-height: 20vw;
    font-size: 7vw;
  }
}

.projects ul li div:hover
{
  color: white;
  opacity: 1; 
}

.debug
{
  border: 1px solid red;
}
