:root {
  --color-main: #009688;
  --color-sec : #004D40;
  --color-back: #212121;
}

body
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--color-back);
}

nav
{
    font-size: 0px;
    text-align: center;
    background-color: var(--color-back);
    padding-top: 10px;
}

.content
{
  background-color: var(--color-back);
}

.header-container
{
  background-color: var(--color-main);
  background-image: url("/src/files/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-container
{
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
}

.title
{
  font-family: Oswald;
  font-size: 80px;
  color: var(--color-main);
}

.subtitle
{
  margin-bottom: 200px;
  font-family: Oswald;
  font-size: 20px;
  color: #333;
}

.btn
{
  width: 200px;
  margin: 10px;
  border: 3px solid var(--color-main);
  color: var(--color-sec);
  display: inline-block;
  font-family: Oswald;
  font-size: 30px;
  white-space: nowrap;
  cursor: pointer;
}

.btn:hover
{
  transition: 0.3s;
  background-color: var(--color-main);
  color: white;
}

.description
{
  color: white;
  background: var(--color-back);
}

.text
{
  margin: 70px 0;
  background: var(--color-back);
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  font-size: 22px;
  font-family: Source Sans Pro;
  line-height: 35px;
  letter-spacing: 2px;
}

.nav-btn
{
  margin: 2px;
  width: 200px;
  height: 5px;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-btn.selected
{
  background-color: grey;
}

.team
{
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: white;
  color: var(--color-back);
  font-family: Oswald;
  font-size: 60px;
}

.team ul
{
  max-width: 1500px;
  margin: auto;
  font-size: 0px;
  padding: 0;
  padding-top: 0px;
  text-align: center;
}

.team ul li
{
  position: relative;
  white-space: nowrap;
  line-height: 200px;
  list-style-type: none;
  font-size: 16px;
  height: 200px;
  width: 480px;
  margin: 5px;
  font-size: 60px;
  border: 2px solid var(--color-back);
  display: inline-block;
  transition: 0.3s;
}

.team ul li a
{
    position: absolute; 
    line-height: 0px; 
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 30px;
    color: white;
}

.team ul li:hover
{
  background: var(--color-main);
  color: white;
}

.projects-container
{
  max-width: 1500px;
  margin: auto;
  padding-top: 100px;
}

.projects
{
  padding-bottom: 120px;
  background-color: var(--color-back);
  color: var(--color-main);
  font-family: Oswald;
  font-size: 60px;
}

.projects ul
{
  margin: auto;
  max-width: 1500px;
  font-size: 0px;
  padding: 0;
  padding-top: 0px;
  text-align: center;
}

.projects ul li
{
  white-space: nowrap;
  line-height: 200px;
  list-style-type: none;
  font-size: 16px;
  height: 200px;
  width: 480px;
  margin: 5px;
  font-size: 60px;
  border: 2px solid var(--color-back);
  display: inline-block;
  transition: 0.3s;
}

.projects ul li:hover
{
  background: var(--color-main);
  color: white;
}

#projects-description
{
  color: white;
}

@media (max-width: 600px)
{
  .title
  {
    font-size: 60px;
  }
}

@media (max-width: 510px)
{
  .team ul li
  {
    width: 180px;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
  }

  .projects ul li
  {
    width: 180px;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
  }

  .team ul li a
{
    font-size: 20px;
}

  .subtitle
  {
    margin-bottom: 100px;
  }
}

