<div style="max-width: 1000px; margin: auto">
  <div class="debug" style="font-size: 40px; font-family: Oswald; color: #999; padding-top: 100px;">PROJECTS</div>
  <div id="projects-description" class="text debug">projects-description</div>
  <hr style="margin: 100px 0;"/>
</div>
  <div class="projects">
    <ul class="debug">
      <li>HOUSE</li>
      <li>HOUSE</li>
      <li>HOUSE</li>
      <li>HOUSE</li>
      <li>HOUSE</li>
      <li>HOUSE</li>
      <li>SEE MORE &raquo</li>
    </ul>
</div>

<script>
  $(this).ready(function()
  {
    $("#projects-description").load("/src/files/projects-description.txt");
    $()
  });


</script>
